footer {
  
  padding: 3px;
  background-color: #087AEA;
  color: white;
  width: 100%;
  position: relative;
  bottom: 0;


}

.info {
  font-weight: 600;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  padding: 5px;
  margin-left: 10px;
}

.links {
  padding: 5px;
  text-align: center;
}