@import "./variables";

.commentContainer {
  display: flex;
  padding-left: 1.5em;
  font-size: 0.75em;
  margin-bottom: 0.4em;

  .accountName {
    font-weight: 600;
  }

  .comment {
    margin-left: 0.5em;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    
  }

  .grid-container > div {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
  }
    .button {
      background: none!important;
      border: none;
      padding: 0!important;
      /*optional*/
      font-family: arial, sans-serif;
      /*input has OS specific font-family*/
      color: #069;
      text-decoration: underline;
      cursor: pointer;
    }
  
}
