.container2{
    background-color:lightblue;
    size: 4in 6in;
}
.Description{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: 900;
}
.Description2{
    font-size: 30px;
    font-family: "Times New Roman";
}

.weight{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: 900;
}
.weight2{
    font-size: 30px;
    font-family: "Times New Roman";
}

.lenght{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: 900;
}
.lenght2{
    font-size: 30px;
    font-family: "Times New Roman";
}

.nutrition{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: 900;
}
.nutrition2{
    font-size: 30px;
    font-family: "Times New Roman";
}

.habbitat{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: 900;
}
.habbitat2{
    font-size: 30px;
    font-family: "Times New Roman";
}
.tips{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: 900;
}
.tips2{
    font-size: 30px;
    font-family: "Times New Roman";
}
.FishFooter{
    padding: 50px;
}
.back-button{
    margin:auto;
    text-align: center;
}