.toggleDiv {
  padding: 10px;
  padding-bottom: 50px;
  margin:auto;
}

.toggleDiv > .toggleFormButton{
    margin: 0;
    position: absolute;
    top:20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #087AEA;
}

/* .container {
  background-image: url("../../background.jpg");
    background-size: cover;
    background-position: 100%;
} */

.infiniteScroll{
    padding: 50px;
}

.logintocreatepost{
  text-align: center;
  margin: auto;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: black;
}

