.toggleDiv {
  padding: 10px;
  padding-bottom: 50px;
  margin:auto;
}

.toggleDiv > .toggleFormButton{
    margin: 0;
    position: absolute;
    top:15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* .container {
  background-image: url("../../background.jpg");
    background-size: cover;
    background-position: 100%;
} */

.infiniteScroll{
    padding: 50px;
}
