.post {
    max-width: 600px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin-bottom:  45px !important;
    border-radius: 1em;
    margin: auto;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 10px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post>.title {
    font-weight: 100;
    color: black;
    font-size: 30px;
    text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    max-width: auto;
}

.post>.content {
    text-align: center;
    font-weight: 50;
    color: black;
    font-size: 20px;
    text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    max-width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.slider {
    margin-bottom: 10px !important;
    margin: auto;
}

.post>.post__header>.username {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
    margin-bottom: 1em;
}

.post__button {
    flex: 0;
    border: none;
    border-top: 1px solid lightgray;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1em;
    background-color: lightskyblue;
}

.post__comments {
    padding: 20px;
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.post__bubble {
    background-color: lightgray;
    border-radius: 15px;
}

.post__user {
    margin-left: 20px;
}

.post__content {
    margin-left: 20px;
}

.post__buttons {
    background-color: whitesmoke;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
    margin-left: 5px;
    height: 20px;
}

.post__buttons>.button {
    background-color: whitesmoke;
    margin-left: 5px;
    border: none
}

.post__buttons>.button2 {
    background-color: whitesmoke;
    margin-left: 10px;
    border: none
}

.post__buttons>.button3 {
    background-color: whitesmoke;
    margin-left: 10px;
    border: none
}


.post__likebuttons {
    display: grid;
    grid-template-columns: 4em 10em;
}

.post__like {
    margin-left: 10px;
    font-size: 7px;
}

.btn__like {
    border: none;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}

.post__unlike {
    margin-left: 10px;
    font-size: 7px;
}

.btn__unlike {
    border: none;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.likescount{
    padding: 10px;
}